[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=应用部署向导
Comment=应用部署向导
GenericName=Deploy
Exec=Deploy
Icon=preferences-system
Terminal=false
Categories=Applications;System
